.tscatalog-tab .separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.tscatalog-tab .separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.tscatalog-tab .separator::before {
    margin-right: .25em;
}
.tscatalog-tab .separator::after {
    margin-left: .25em;
}

#tscatalog_settings_tabs_wrapper {
    position: relative;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 0;
    background: none;
}
#tscatalog_settings_tabs {
    z-index: 2;
    position: relative;
    width: 159px;
    float: left;
    background: #f5f5f5;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    line-height: inherit;
}
#tscatalog_settings_tabs li.ui-tabs-active {
    width: 161px;
}
#tscatalog_settings_tabs .ui-state-default, 
#tscatalog_settings_tabs .ui-widget-content .ui-state-default, 
#tscatalog_settings_tabs .ui-widget-header .ui-state-default {
    border: none;
}
#tscatalog_settings_tabs li {
    margin: 0;
    padding: 0;
    float: none;
    background: none;
    white-space: normal;
}
#tscatalog_settings_tabs li.ui-tabs-active a,
#tscatalog_settings_tabs li a:hover {
    width: 161px;
    border-top: 1px solid #ddd;
    padding: 19px 21px 20px 45px;
    color: #000 !important;
    background: #fff !important;  
}
#tscatalog_settings_tabs li a {
    display: block;
    margin: -1px 0 0 0;
    padding: 20px 21px 20px 45px;
    text-decoration: none;
    color: #666;
    border-bottom: 1px solid #ddd;
    word-break: break-word;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: none;
    -webkit-transition: none;
    float: none;
    position: relative;
}
#tscatalog_settings_tabs_wrapper .tscatalog-tab {
    position: relative;
    padding: 5px 10px 15px;
    width: calc( 100% - 183px );
    float: right;
    border: 1px solid #ddd;
    background: #fff;
}
#tscatalog_settings_tabs .ui-state-default,
#tscatalog_settings_tabs .ui-widget-content .ui-state-default,
#tscatalog_settings_tabs .ui-widget-header .ui-state-default {
    border: none;
}
#tscatalog_settings_tabs li:last-child a {
    border-bottom: none;
}

a#tab-Config::before {
    content: "\f111";
    font-family: 'dashicons';
    font-size: 20px;
    position: absolute;
    left: 20px;    
}

a#tab-Connection::before {
    content: "\f111";
    font-family: 'dashicons';
    font-size: 20px;
    position: absolute;
    left: 20px;    
}

a#tab-ProductLister::before {
    content: "\f121";
    font-family: 'dashicons';
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
}
a#tab-ProductFilter::before {
    content: "\f314";
    font-family: 'dashicons';
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
}
a#tab-ProductReader::before {
    content: "\f527";
    font-family: 'dashicons';
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 18px;
}